*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
.container{
    max-width: 80%;
    padding-bottom: 20px;
    margin: 0 auto;
}


/*----------- Header---------- */

header{
    border-bottom: 1px solid #f2f2f2;
}
header .info-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    gap: 20px; 
    color: #747474;
}
header .info-2{
    display: flex;
    gap: 15px;
}
header span{
    font-weight: 500;
    display: inline-block;
}
header span.date{
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    
}
header span i{
    color:  #a5c422;
    margin-right: 10px;
    
}
/* Navbar */
.navbar{
    /* position: fixed; */
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 15px;

}
.navbar span h4{
    font-size: 25px;
    color:#a5c422;
}
.navbar .navbar-list{
    display: flex;
    align-items:center;
    gap: 30px;
    font-size: 14px;
    /* padding: 10px 0; */
    text-transform: uppercase;
}
.navbar-list a{
    color: #4d4b4b;
}
.navbar-list a:hover{
    border-bottom: 2px solid #a5c422;
}

 .appointment-btn {
   display:inline-block;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: #a5c422; 
    margin-top: 5px;
}
.appointment-btn a{
    color: #fff;
    font-weight: 600;
}

/* --Mobile view-- */
.navbar .mobile-menu-items{
    position: absolute;
    width: 100%;
    top: 28%;
    left: 0;
    /* bottom: 0; */
    z-index: 1;
    background: #fff;
    text-align: center;
    transition: transform 0.2s ease;
    transform: translateX(100%);
    padding-bottom: 40px;
}
.navbar .mobile-menu-items.active{
    transform: translateX(0);

}
.navbar .mobile-menu-list a{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 20px;
    color: #333;
}
.navbar .mobile-toggle-Button{
    font-size: 25px;
    color: #000;
    cursor: pointer;
}
.navbar .mobile-menu{
    display: none;
}

/*----------- Home---------- */
#home p{
    font-size: 15px;
    color:  rgb(27, 53, 87);
    font-weight: 500;
    text-transform: uppercase;
    }
#home h1{
    font-size: 55px;
    font-weight: 600;
    color: rgb(27, 53, 87);
   
    }
/* .image-sliderfade {
    display: none;
} */
.slider img {
    /* vertical-align: middle; */
    align-items: center;
    width: 100%;
    height: 600px;
   
}
.slider .container {
    position: relative;
    margin: auto;
}
.slider .info{
    position: absolute;
    text-align: center;
    top: 39%;
    left:35%;
   transform: translate(-50% -50px);
  
}
section .section-btn{
    background-color: coral;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    transform: translateY(0);
    transition: transform 1s ease-in-out;
}
section .section-btn:hover{
    transform:translateY(-10px);
}
.textBox2 .section-btn{
    background-color: #a5c422;
}
.textBox3 .section-btn{
    background-color:rgb(55, 55, 154);
}

/* The dots/bullets/indicators */
.dot {
    height: 8px;
    width: 8px; 
    margin: 0 2px;
    background-color: transparent;
    border-color: #f1e9e9;
    /* border-width: 5px; */
    border-style: solid;
    border-radius: 50%;
    display: inline-block;
    transition: border-color 1s ease;
}
.active {
    border-color: #666;
}

/* Animation */
.fade {
    -webkit-animation-name: fade-image;
    -webkit-animation-duration: 1.5s ;
    animation-name: fade-image;
    animation-duration: 1.5s linear infinite;
}

@-webkit-keyframes fade-image {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 0.9;
    }
}

@keyframes fade-image {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 0.9;
    }
}


/*----------- About---------- */
#about{
    background: url(/images/about-bg.jpg) no-repeat top center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    line-height: 26px;
}
.aboutBunch img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.aboutBunch img, figcaption{
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    
}
.aboutBunch h1{
    font-size: 40px;
    line-height: 45px;
    font-weight: 600;
}
.aboutBunch h1 span{
    color: lightseagreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.aboutBunch p{
    font-size: 15px;
    color: #747474;
}
/*----------- Team---------- */
#team h1{
    font-size: 30px;
    font-weight: 600;
    color: #0b0c0d;
    margin-top:10px;
}
#team p, i{
    font-size: 15px;
    font-weight: 500;
    color:#747474;
}
#team .parent{
    display: flex;
    justify-content:space-between;
    gap: 20px;

}

.imgResponsive{
    display: block;
    max-width: 100%;
    height: auto;
}
#team .teamBunch{
    position: relative;
    background: #f4f4f4;
    overflow: hidden;
    padding: 15px 10px;
    text-align: center;
    cursor: pointer;

}

 #team .teamContactInfo{
    display: flex;
    flex-direction: column;
    border-top: 1px solid #dadada;
} 

/*----------- Appoinment---------- */

#appointment .content{
    /* width: 80%;  */
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    gap: 80px;

}
#appointment img{
    vertical-align: middle;
    object-fit: cover;
    height: 700px;
}

#appointment-form{
  /* padding-top: 50px; */
  padding: 20px 50px;

}
#appointment h1{
    font-size: 30px;
   
}
#appointment label{
   /* color: #000; */
   font-weight: 500;
}
.form-control{
    color: #666;
    font-weight: 500;
    font-size: 20px;
}

#appointment input, select, button, textarea{
    height: 45px;
    width: 360px;
    font-size: 20px;
    padding: 10px 5px;
    /* background:rgb(196, 172, 140); */
    border: none;
    border-radius: 6px;
    margin-bottom: 15px;
}
#appointment button{
    background:#a5c422 ;     
    border: none;   
    color: #fff;
    font-weight: 500;
    box-shadow: 1px 5px 2px solid grey;
}
#appointment button:hover{
    background-color:#1d244a;
}
#appointment textarea{
    height: 80px;;
}

/*----------- Google Map---------- */
/* #googleMap{
    padding-top: 20px;
    
} */
#googleMap iframe{
    width: 100%;
}
/*----------- Footer---------- */
footer{
    padding-top: 20px;
}

footer .parent{

    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    /* padding-top: 20px; */
   
    
}
footer .specialities, .excelence, .services, .contactInfo{
    display: flex;
    flex-direction: column;
    /* background-color: lightskyblue; */
}
footer h3{
    color: #1d244a;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration:underline;
    padding-bottom: 5px;
}
footer a{
    color: #000;
}

.contact .socialIcons{
    display: flex;
    justify-content: center;
    gap: 20px;
 padding-top: 10px;

}
.contact i{
    font-size: 22px;
    color: #5763a8;
}




@media (max-width:600px){
    .container{
        max-width: 90%;
     
    }
    header .info-bar, .info-2{
        flex-direction: column;
        align-items: start;
    }

    .slider .info{
        top:55%;
        left: 5%;
    } 
    /* navbar */
    .navbar .navbar-items{
            display: none;
        }
    .navbar .mobile-menu{
            display: block;
            
        }
        /* #about{
            background-size: cover; 
        } */

        /* team */
        #team .parent{
            flex-direction: column;
        }
        /* #team .teamContactInfo{
            flex-direction: column;
        }  */
        /* appoinment */
        #appointment img{
            object-fit: fill;
            height: 500px;
        }

        #appointment .content{
            flex-direction: column;
        }
        /* footer */
        footer .parent{
            flex-direction: column;
            text-align: center;
            
        }
        
    }
